TELEGRAM_TOKEN=BOT_TOKEN
ADMIN_ID=123456789
CHECK_INTERVAL=300

HOSTING_1984_REQUEST_INTERVAL_SECONDS=5
HOSTING_1984_MAX_ATTEMPTS=3
HOSTING_1984_BACKOFF_SECONDS=5

# Настройки, если вы хотите отправлять алерты о смене IP в группу или канал.
# Если не задан - равен ADMIN_ID
ALERT_CHANNEL_ID= 

# Необязательно
ALERT_THREAD_ID=